* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
  scroll-behavior: smooth;

}

body {
  min-height: 100%;
  position: relative;
    background: rgb(114, 114, 114);
}

/* Main Show */
.mainBox {
  background: rgb(255, 0, 0);
  height: 100vh;
  position: relative;
  
}

.group6 {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .1;
  z-index: 0;
}
.group7 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .1;
  z-index: 0;
  transform: scaleX(-1);
}

.bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  opacity: .5;
}

/* Main Nav */
.logo {
  min-height: 5%;
  max-height: 5%;
  position: absolute;
  left: 3%;
  top: 2%;
  z-index: 10;
}

.main-right-border {
  position: absolute;
  font-size: clamp(10px, 5vw ,130px);
  color: black;
  transform: rotate(-90deg);
  bottom: 40%;
  font-family: "Montserrat",  Inline One, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  right: -16%;
  z-index: 4;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #48a29e;
  opacity: .4;
}
.main-firstName-border {
  position: absolute;
  min-height: clamp(100vh, 40vh, 100%);
  max-height: clamp(50%, 40vh, 100%);
  min-width: clamp(50%, 100vw, 100vw);
  max-width: clamp(50%, 80vw, 100%);
  text-align: left;
  display: flex;
  justify-content: left;
  color: rgb(48, 44, 44);
  bottom: 40%;
  font-family: "Montserrat",  Inline One, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  left: -5%;
  opacity: .15;
}
.main-lastName-border {
  position: absolute;
  min-height: clamp(100vh, 40vh, 100%);
  max-height: clamp(50%, 40vh, 100%);
  min-width: clamp(50%, 100vw, 100vw);
  max-width: clamp(50%, 80vw, 100%);
  color: black;
  
  bottom: -30%;
  font-family: "Montserrat",  Inline One, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  left: 0%;
  z-index: 0; 
  opacity: .15;
}

.main-name-text {
  font-family: "Montserrat",  Inline One, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: clamp(3.5rem,10vw,150px);
  position: absolute;
  color:#000000;
  bottom: 60%;
  left: 10%;
  /* -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  z-index: 1;
  overflow: visible;
}
.main-desc-text {
  font-family: "Montserrat",  Inline One, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: clamp(1.4rem, 3.5vw, 50px);
  position: absolute;
  color: white;
  /* -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  bottom: 43%;
  left: clamp(3vw, 207vw, 10%);

}


.mainNav {
  width: 100%;
  position: absolute;
  right: 0;
  padding-bottom: 10px;
  top: 0;
  margin: auto;
  z-index: 9;
  /* background: #000000; */
  height: 8vh;
}

.navItems {
  
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 30px;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  z-index: 0;
}

/* Main Nav End */

.AboutMain {
  height: 100vh;
  background:rgb(0, 0, 0)
}
.showMain {
  height: 100vh;
  background:rgb(255, 0, 0);
  overflow: hidden;
}

.aboutBox {
  border-radius: 15px;
  margin: auto;
  width: 88%;
  height: 83vh;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
  z-index: 4;
}

.workBox {
  border-radius: 15px;
  top: 150px;
  margin: auto;
  width: 88%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4;
  overflow: hidden;
}

.projectBox1 button {
 min-height: 40px;
 min-width: clamp(70px, 10vw, 122vw); 
 padding: 5px 8px;
 border-radius: 10px;
 font-size: clamp(.7rem, 1vw, 2vw);
 margin-right: 20px;
 border: none;
 background: white;
 color: black;
 font-family: 'Montserrat';
 z-index: 0;
}

.proCard {
  min-height: 80%;
  min-width: clamp(600px, 100vw, 100%);
  font-family: 'Montserrat';
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.proCard img {
  position: absolute;
  border-radius: 5px;
  top: 0;
  width: 100%;
  height: 100%;
  justify-self: flex-start;
}

.workLinks {
  background: red;
  border-radius: 5px;
  color: white;
  width: 50%;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  padding: 5px;
  margin-top: 5px;
  justify-content: space-evenly;
  z-index: 2;
}

.workBg{
  background:white;
  text-align: center;
  padding: 30px 30px;
  border-radius: 10px;
  z-index: 20;
  color: black;
}

.workLinks a {
  font-size: clamp(.6rem, .8vw, 1.5vw);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
  margin-top: 5px;
  z-index: 50;
} 

.portfolioImage {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.titleBox {
  display: flex;
  position: absolute;
  justify-content: center;
}

.aboutTitle {

  padding-left: 0;
  font-weight: bold;
  align-self: center;
  text-align: center;
  justify-content: center;
  display: flex;
  color: red;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: clamp(1.3rem, 10vw, 65px);
}

.palmTrees {
  position: absolute;
  bottom: -13%;
  left: -15%;
  max-height: 30vh;
  max-width: 30%;
}
.palmTrees2 {
  position: absolute;
  bottom: -13%;
  right: -20%;
  max-height: 30vh;
  max-width: 30%;
  transform: scaleX(-1);
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 15px;
  height: 50%;
  width: 75%;
  position: absolute;
  bottom: 5%;
}

.aboutText {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16px, 2vw, 30px);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #336c6c;
  height: 60px;
  padding: 10px;
  display: flex;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.langTitle {
  position: absolute;
  top: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 4vw, 40px);
  color: white;
}

.langDiv {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  position: absolute;
  top: 30%;
  height: 70%;
  z-index: 0;
  overflow: visible;
}

.techIcons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  height: 45%;
  align-items: center;
  justify-items: center;
  row-gap: 5px;
  color: black;
  top: 40%;
  position: absolute;
}


.aboutImages {
  width: 100%;
  display: grid;
  justify-items: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: flex-end;
  height: 100%;
  margin-top: -20px;
  overflow-x: scroll;
  column-gap: 5px;

}

.chooseIcon {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16px, 4vw, 22px);
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chooseBox {
  position: absolute;
  text-align: center;
  bottom: -30%;
  width: 100%;
  overflow: visible;
}

.imgDiv {

  min-height: 300px;
  min-width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.contactMain {
  height: 93vh;
  background: rgb(255, 0, 0);
  overflow: hidden;
}

.connectSpan {
  color:white;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: black;
  text-align: center;
  border: 1px solid black;
}

.contactTitle {
  color: black;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: clamp(26px, 4vw, 50px);
  overflow: visible;
  z-index: -1;
}

.githubLogo {
  position: absolute;
  top: 20%;
  color: black;
  z-index: 5;
}

.facebookLogo {
  position: absolute;
  top: 20%;
  left: 10%;
  cursor: pointer;
  color:  black;
  z-index: 5;
}

.twitterLogo {
  position: absolute;
  top: 20%;
  right: 10%;
  cursor: pointer;
  color: black;
  z-index: 5;
}

.mailLogo {
  position: absolute;
  bottom: 20%;
  right: 10%;
  cursor: pointer;
  color: black;
  z-index: 5;
}

.socialLogo {
  font-size: clamp(60px, 6vw, 200px);
  color:  white;

}

.iconBox {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-self: flex-start;
  margin-top: 100px;
  position: relative;
  overflow:visible;
}

.instagramLogo {
  position: absolute;
  bottom: 20%;
  left: 10%;
  cursor: pointer;
  color: black;
  z-index: 5;
}

.linkedInLogo {
  position: absolute;
  bottom: 20%;
  cursor: pointer;
  color: black;
  z-index: 5;
}

.workMain {
  height: 100vh;
  background:rgb(0, 0, 0);
}

.loader {
  height: 100vh;
  width: 100%;
  background: #336c6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingText {
  color: black;
  margin-bottom: 20px;
  font-family: "Montserrat",  "Inline One", sans-serif;
  font-size: 50px;
  background-color: #336c6c;
  padding: 20px 40px;
  border-radius: 15px;
  display: flex;
}
.loadH {
  color: white;;
}

.mainTitle {
  color: white;;
}

.personImg {
  max-height: clamp(30%, 85vh, 100%);
  max-width: clamp(30%, 30vw, 100%);
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 1;
  transform: rotate(90deg);
}

@media screen and (max-width: 800px) {
  
  .regNav {
    visibility: hidden;
  }
  .smallNav {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
  .chooseIcon {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(16px, 4vw, 22px);
    color: white;
  }
  .aboutImages {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: flex-end;
    height: 100%;
    margin-top: 20px;
    overflow-x: scroll;
    column-gap: 5px;
  
  }
  .workBox {
    margin-top: 0%;
    overflow: hidden;
  }
  .imgDiv {
    height: 200px;
    width: 200px;
  }
  .aboutTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    font-size: clamp(26px, 4vw, 50px);
    margin-top: 70px;
  }

  .aboutBox {
    margin-top: 10%;
  }
  .main-desc-text{
    top: 30%;
    left: 10%;
    margin-top: 15px;
    font-size: clamp(1.5rem, 5vw, 100px);
  }
  .main-name-text {
    top: 17%;
  }
  .personImg {
    max-height: clamp(10%, 50vh, 100%);
    max-width: clamp(10%, 50vw, 100%);
    bottom: 0;
    min-height: 65%;
    right: 10%;
  }
  .facebookLogo {
    position: absolute;
    top: 20%;
    left: 10%;
    cursor: pointer;
  }
  .twitterLogo {
    position: absolute;
    top: 20%;
    right: 10%;
    cursor: pointer;
  }
  .githubLogo {
    top: 20%;
  }
  .linkedInLogo {
    bottom: 20%;
  }
  .instagramLogo {
    left: 10%;
    bottom: 20%;
  }
  .mailLogo {
    right: 10%;
    bottom: 20%;
  }
  .infoBox {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .aboutText {
    
    height: 20%;
  }
  .langDiv {
    bottom: -20%;
    position: absolute;
  }
  .workBox {
    height: 70%;
  }
}
@media screen and (min-width: 800px) {
  .hamMenu {
    visibility: hidden;
  }
  .peaceDiv {
    bottom: 10%;
  }
  .mainText {
    position: absolute;
    margin-top: -70px;
  }
}

.mobileLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  border-radius: 0 0 0 15px;
  z-index: 5;
  background: black;
  padding-top: 80px;
}

.mobileLink .indLink {
  background: black;
  color: white;

}


.mobileLinkBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 70%;
  top: 0%;
}

.hamMenu {
  color: white;
  cursor: pointer;
  position: absolute;
  right: -2%;
  top: 2%;
  z-index: 5;
  width: 100px;
}
.hamMenuClose {
  
  color: white;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 2%;
  z-index: 5;
}

.links {
  text-decoration: none;
}

.indLink {
  font-family: "Montserrat",  "Inline One", sans-serif;
  padding: 7px 20px;
  font-weight: 400;
  border-radius: 5px;
  /* background:white; */
  color: white;
  letter-spacing: 2px;
  margin-right: 10px;
  margin-top: 10px;
}
.contactLink {
  font-family: "Montserrat",  "Inline One", sans-serif;
  padding: 7px 20px;
  font-weight: 400;
  border-radius: 5px;
  background:red;
  color: black;
  letter-spacing: 2px;
  margin-top: 10px;
}

.mainDesc {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16px, 8vw, 80px);
  margin-top: 20px;
}

.mainText {
  position: absolute;
  right: 5%;
  top: 20%;
  text-align: end;
}

.mobileNav {
  display: none;
}

.footer {
  width: 100%;
  
  bottom: 0;
  height: 7vh;
  background: #000000;
  z-index: 10;
  display: flex;
  align-items: center;
  color: red;
  font-family: 'Montserrat';
  justify-content: flex-end;
  padding-right: 3%;
}

.footer h3 {
  font-weight: 500;
  font-size: 15px;
  padding: 10px 15px;
  background: red;
  border-radius: 5px;
}

.footerLink {
  text-decoration: none;
  color: black;
}

.copyright {
  margin-right: auto;
  margin-left: 20px;
  font-size: clamp(.5rem, .8vw, 20px);
  text-align: center;
}