* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Main Show */
.mainBox {
  background: rgba(68, 45, 143, 0.907);
  height: 100vh;
  position: relative;
  
}

/* Main Nav */
.logo {
  min-height: 5%;
  max-height: 5%;
  position: absolute;
  left: 3%;
  top: 1%;
  z-index: 10;
}

.backCircle {
  border-radius: 35%;
  background-color: rgb(234, 233, 233);
  height: 110%;
  width: 50%;
  position: absolute;
  bottom: -10%;
  right: -15%;
  z-index: 1;
}
.backCircle2 {
  border-radius: 40%;
  background-color: #48a29e;
  height: 110%;
  width: 50%;
  position: absolute;
  bottom: -10%;
  right: -20%;
  z-index: 2;
}
.backCircle3 {
  border-radius: 40%;
  background-color: #336c6c;
  height: 110%;
  width: 50%;
  position: absolute;
  bottom: -10%;
  right: -25%;
  z-index: 3;
}

.main-right-border {
  position: absolute;
  font-size: clamp(10px, 5vw ,130px);
  color: black;
  transform: rotate(-90deg);
  bottom: 40%;
  font-family: "Montserrat",  Inline One, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  right: -16%;
  z-index: 4;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #48a29e;
  opacity: .4;
}
.main-firstName-border {
  position: absolute;
  min-height: clamp(100vh, 40vh, 100%);
  max-height: clamp(50%, 40vh, 100%);
  min-width: clamp(50%, 100vw, 100vw);
  max-width: clamp(50%, 80vw, 100%);
  text-align: left;
  display: flex;
  justify-content: left;
  color: rgb(48, 44, 44);
  bottom: 40%;
  font-family: "Montserrat",  Inline One, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  left: -5%;
  opacity: .06;
}
.main-lastName-border {
  position: absolute;
  min-height: clamp(100vh, 40vh, 100%);
  max-height: clamp(50%, 40vh, 100%);
  min-width: clamp(50%, 100vw, 100vw);
  max-width: clamp(50%, 80vw, 100%);
  color: black;
  
  bottom: -30%;
  font-family: "Montserrat",  Inline One, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  left: 0%;
  z-index: 0; 
  opacity: .06;
}

.main-name-text {
  font-family: "Montserrat",  Inline One, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: clamp(3.5rem,10vw,150px);
  position: absolute;
  color:#17252A;
  bottom: 60%;
  left: 10%;
  /* -webkit-text-fill-color: rgb(234, 233, 233);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #17252A; */
  z-index: 10;
  overflow: visible;
}
.main-desc-text {
  font-family: "Montserrat",  Inline One, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: clamp(1.4rem, 3.5vw, 50px);
  position: absolute;
  color: rgb(234, 233, 233);
  /* -webkit-text-fill-color: rgb(234, 233, 233);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #17252A; */
  bottom: 43%;
  left: clamp(3vw, 207vw, 10%);

}


.mainNav {
  background: #17252A;
  width: 50%;
  border-radius: 0 0 0 15px;
  position: absolute;
  right: 0;
padding-bottom: 10px;
  top: 0;
  margin: auto;
  z-index: 10;
}

.navItems {
  display: flex;
  justify-content: space-around;
  width: 100%;

  align-items: center;
  list-style: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  z-index: 0;
}

/* Main Nav End */

.AboutMain {
  height: 100vh;
  position: relative;
}

.aboutBox {
  /* background: rgb(181, 172, 172, .2); */
  border-radius: 15px;
  margin: auto;
  width: 88%;
  height: 83vh;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
  z-index: 4;
}

.workBox {
  border-radius: 15px;
  margin: auto;
  width: 88%;
  height: 83vh;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4;
}

.projectBox1 {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.projectBox1 button {
 border-radius: 15px;
 width: 130px;
 height: 60px !important;
 border: none;
 background: #17252A;
 color: rgb(234, 233, 233);
 font-family: 'Montserrat';
}

.proCard {
  border: 1px solid black;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.portfolioImage {
  position: absolute;
  height: 100%;
  width: 100%;
  /* top: 50%;
  right: 50%;
  transform: translate(-50%, -50%); */
  z-index: -1;
}

.titleBox {
  display: flex;
  top: 0;
  position: absolute;
  justify-content: center;
}

.aboutTitle {
margin-top: 50px;
  padding-left: 0;
  font-weight: bold;
  align-self: flex-start;
  text-align: center;
  justify-content: center;
  display: flex;
  color: #17252A;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: clamp(1.3rem, 10vw, 65px);
}

.palmTrees {
  position: absolute;
  bottom: -13%;
  left: -15%;
  max-height: 30vh;
  max-width: 30%;
}
.palmTrees2 {
  position: absolute;
  bottom: -13%;
  right: -20%;
  max-height: 30vh;
  max-width: 30%;
  transform: scaleX(-1);
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #17252A;
  border-radius: 15px;
  height: 50%;
  width: 75%;
  position: absolute;
  bottom: 5%;
}

.aboutText {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16px, 2vw, 30px);
  -webkit-text-fill-color: rgb(234, 233, 233);
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #336c6c;
  height: 60px;
  display: flex;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

/* .aboutSpan {
  font-size: clamp(16px, 2vw, 30px);
  padding: 20px;
  background-color: black;
  color: yellow;
  margin-left: 5px;
  font-weight: bold;
} */

.infoIcon {
  /* position: absolute;
  top: 25%;
  cursor: pointer; */
  z-index: 1;
}

.langIcon {
  /* position: absolute;
  top: 25%;
  right: 25%;
  cursor: pointer; */
  z-index: 1;
}

.personIcon {
  /* position: absolute;
  top: 25%;
  left: 25%;
  cursor: pointer; */
  z-index: 1;
}

.peaceSign {
  max-height: 30vh;
  max-width: 40%;
}

.peaceDiv {
  position: absolute;
  right: 0;
  bottom: -3%;
  display: flex;
  justify-content: center;
  width: 85%;
  float: right;
}

.langTitle {
  position: absolute;
  top: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 4vw, 40px);
}

.langDiv {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  position: absolute;
  top: 30%;
  height: 70%;
  z-index: 0;
  overflow: visible;
}

.techIcons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  height: 45%;
  align-items: center;
  justify-items: center;
  row-gap: 5px;
  color: #17252A;
  top: 40%;
  position: absolute;
}

.subtitleText {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: clamp(16px, 4vw, 22px);
  letter-spacing: 0px;
  color: #17252A;
}

.aboutImages {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-end;
  height: 100%;
  margin-top: -70px;
  overflow-x: scroll;
  column-gap: 5px;

}

.chooseIcon {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16px, 4vw, 22px);
}

.chooseBox {
  position: absolute;
  text-align: center;
  
  bottom: 0;
  width: 100%;
}

.imgDiv {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.contactMain {
  height: 100vh;
}

.connectSpan {
  color:rgb(234, 233, 233);
  border-radius: 10px;
  padding: 0px 10px;
  background-color: #336c6c;
  text-align: center;
  border: 1px solid #17252A;
}

.contactTitle {
  color: #17252A;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: clamp(26px, 4vw, 50px);
  overflow: visible;
}

/* @media only screen and (max-width: 637px) {
  .contactTitle {
    display: flex;
    text-align: right;
    position: absolute;
    top: 35%;
  }
  .contactTitle span {
    background: #17252A;
    padding: 0 10px;
  }
} */

.githubLogo {
  position: absolute;
  top: 20%;
  color: black;
  z-index: 5;
}

.facebookLogo {
  position: absolute;
  top: 20%;
  left: 10%;
  cursor: pointer;
  color:  black;
  z-index: 5;
}

.twitterLogo {
  position: absolute;
  top: 20%;
  right: 10%;
  cursor: pointer;
  color: black;
  z-index: 5;
}

.mailLogo {
  position: absolute;
  bottom: 20%;
  right: 10%;
  cursor: pointer;
  color: black;
  z-index: 5;
}

.socialLogo {
  font-size: clamp(60px, 6vw, 200px);
  color:  #17252A;

}

.iconBox {
  display: flex;
  width: 100%;
  min-height: 35%;
  justify-content: space-evenly;
  align-self: flex-start;
  margin-top: 190px;
  position: relative;
  overflow:visible;
}

.instagramLogo {
  position: absolute;
  bottom: 20%;
  left: 10%;
  cursor: pointer;
  color: black;
  z-index: 5;
}

.linkedInLogo {
  position: absolute;
  bottom: 20%;
  cursor: pointer;
  color: black;
  z-index: 5;
}

.workHead {
  color: black;
}

.loader {
  height: 100vh;
  width: 100%;
  background: #336c6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingText {
  color: #17252A;
  margin-bottom: 20px;
  font-family: "Montserrat",  "Inline One", sans-serif;
  font-size: 50px;
  background-color: #336c6c;
  padding: 20px 40px;
  border-radius: 15px;
  display: flex;
}
.loadH {
  color: rgb(234, 233, 233);;
}

.mainTitle {
  color: rgb(234, 233, 233);;
}

/* FOOTER */

.mainFooter {
  color: white;
  background: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 60px;
}

.footerItems {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  column-gap: 100px;
  margin-right: 100px;
  height: 100%;
  list-style: none;
  font-size: 20px;
}

.personImg {
  max-height: clamp(30%, 90vh, 100%);
  max-width: clamp(30%, 30vw, 100%);
  position: absolute;
  bottom: -5%;
  right: 20%;
  z-index: 4;
  transform: rotate(90deg);
}

.middleNameDiv {
  color: yellow;
  height: 7vh;
  position: absolute;
  width: 10%;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300px;
  background: black;
}

.mainAlign {
  height: 86.5vh;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  text-align: center;
}

.innerText {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.showName {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  position: absolute;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  letter-spacing: 20px;
  z-index: 1;
}

.showNameText {
  cursor: default;
  font-size: clamp(2rem, 10vw, 90px);
}

.showNameAboutText {
  cursor: default;
  font-size: clamp(2rem, 10vw, 100px);
}
.showNameLastText {
  cursor: default;
  font-size: clamp(2rem, 10vw, 100px);
}

.smallName {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  position: absolute;
  min-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 7vw, 50px);
  background: black;
  cursor: default;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.showNameWork {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  position: absolute;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 100px);
  background: black;
  border-right: 1px solid black;
  cursor: default;
  z-index: 1;
}

.showNameAbout {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  position: absolute;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 100px);
  background: black;
  border-right: 1px solid black;
  cursor: default;
  z-index: 1;
}

.showNameContact {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  position: absolute;
  width: 15%;
  display: flex;
  letter-spacing: -10px;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 100px);
  background: black;
  border-right: 1px solid black;
  cursor: default;
  z-index: 1;
}
.showNameLastWork {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  min-height: 15%;
  max-height: 20%;
  position: absolute;
  width: 85%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 100px);
  letter-spacing: 20px;
  background: black;
  z-index: 1;
  cursor: default;
}
.showNameLast {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  min-height: 15%;
  max-height: 20%;
  position: absolute;
  width: min(85%, 100vw);
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 100px);
  letter-spacing: 50px;
  background: black;
  z-index: 1;
  cursor: default;
}

@media screen and (max-width: 800px) {
  .showNameLast,
  .showName,
  .regNav,
  .showNameAbout,
  .showNameContact,
  .showNameLastWork,
  .showNameWork {
    visibility: hidden;
  }
  .smallNav {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
  .aboutTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    font-size: clamp(.5rem, 9vw, 50px);
    margin-top: 70px;
  }
  /* .infoIcon {
    position: absolute;
    top: 30%;
    cursor: pointer;
    z-index: 1;
  } */
  .aboutBox {
    margin-top: 10%;
  }

  /* .langIcon {
    position: absolute;
    top: 30%;
    right: 10%;
    cursor: pointer;
    z-index: 1;
  } */
  .chooseBox {
    top: 45%;
  }
  .backCircle {
    width: 100%;
    height: 60%;
    bottom: -35%;
    /* right: -45%; */
  }
  .backCircle2 {
    width: 100%;
    height: 60%;
    bottom: -25%;
    right: 5%;
  }
  .backCircle3 {
    width: 100%;
    height: 60%;
    bottom: -35%;
    left: -5%;
  }
  .main-desc-text{
    top: 30%;
    left: 10%;
    margin-top: 15px;
    font-size: clamp(1.5rem, 5vw, 100px);
  }
  .contactTitle {
    
    
  }
  .main-name-text {
    top: 17%;
  }
  .main-firstName-border {
    top:-27%;
  }
  .main-lastName-border {
    top: -5%;
  }
  .main-right-border {
    font-size: 20px;
    left: 0%;
    bottom: 0;
    transform: rotate(0deg);
    z-index: 0;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
  .personImg {
    max-height: clamp(10%, 70vh, 100%);
    max-width: clamp(10%, 60vw, 100%);
    bottom: -10%;
    min-height: 65%;
    right: 10%;
  }

  /* .personIcon {
    position: absolute;
    top: 30%;
    left: 10%;
    cursor: pointer;
    z-index: 1;
  } */
  .facebookLogo {
    position: absolute;
    top: 20%;
    left: 10%;
    cursor: pointer;
  }
  .twitterLogo {
    position: absolute;
    top: 20%;
    right: 10%;
    cursor: pointer;
  }
  .githubLogo {
    top: 20%;
  }
  .linkedInLogo {
    bottom: 20%;
  }
  .instagramLogo {
    left: 10%;
    bottom: 20%;
  }
  .mailLogo {
    right: 10%;
    bottom: 20%;
  }
  .chooseIcon {
    font-family: "Montserrat", sans-serif;
  }
  .infoBox {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .aboutText {
    
    height: 30%;
  }
  .palmTrees {
    bottom: -19%;
  }
  .langDiv {
    bottom: -20%;
    position: absolute;
  }
}
@media screen and (min-width: 800px) {
  .hamMenu {
    visibility: hidden;
  }
  .peaceDiv {
    bottom: 10%;
  }
  .mainText {
    position: absolute;
    margin-top: -70px;
  }
}

.mobileLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  border-radius: 0 0 0 15px;
  z-index: 5;
  background: #17252A;
  padding-top: 80px;
}
.mobileLinkBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 70%;
  top: 0%;
}

.hamMenu {
  color: black;
  cursor: pointer;
  position: absolute;
  right: -2%;
  top: 2%;
  z-index: 5;
  width: 100px;
}
.hamMenuClose {
  
  color: rgb(234, 233, 233);
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 2%;
  z-index: 5;
}

.links {
  text-decoration: none;
}

.indLink {
  font-family: ""Montserrat",  Inline One", sans-serif;
  padding: 20px 40px;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgb(234, 233, 233);
}
.contactLink {
  font-family: ""Montserrat",  Inline One", sans-serif;
  padding: 7px 20px;
  font-weight: 400;
  border-radius: 5px;
  background:rgb(234, 233, 233);
  color: #17252A;
  letter-spacing: 2px;
}

.mainDesc {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16px, 8vw, 80px);
  margin-top: 20px;
}

.mainText {
  position: absolute;
  right: 5%;
  top: 20%;
  text-align: end;
}

.mobileNav {
  display: none;
}

.resume {
  height: 60px;
  width: 150px;
  position: absolute;
  bottom: 23%;
  right: 6.3%;
  border-radius: 5px;
  background: black;
  color: yellow;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 7vh;
  background: #17252A;
  z-index: 10;
  display: flex;
  align-items: center;
  color: rgb(234, 233, 233);
  font-family: 'Montserrat';
  justify-content: flex-end;
  padding-right: 3%;
}

.footer h3 {
  border: .5px solid rgb(234, 233, 233);
  padding: 5px 10px;
  background: #336c6c;
  border-radius: 10px;
}