* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Main Show */
.mainBox {
  background: black;
  height: 100vh;
}

/* Main Nav */
.logo {
  color: white;
  position: absolute;
  left: 0;
  margin-left: 20px;
  margin-top: -18px;
}

.mainNav {
  width: 80%;
  float: right;
  position: absolute;
  right: 0;
  z-index: 1;
}

.navItems {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: flex-start;
  list-style: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  z-index: 0;
}

/* Main Nav End */

.AboutMain {
  background: yellow;
  height: 100vh;
}

.aboutBox {
  /* border: 1px solid black; */
  margin-left: 400px;
  width: 75%;
  height: 65vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contactMain {
  background: yellow;
  height: 100vh;
}

.contactTitle {
  padding: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: 30px;
}

.githubLogo {
  position: absolute;
  top: 10%;
  color: black;
}

.facebookLogo {
  position: absolute;
  top: 20%;
  margin-right: 400px;
  cursor: pointer;
  color: black;
}

.twitterLogo {
  position: absolute;
  top: 20%;
  margin-left: 400px;
  cursor: pointer;
  color: black;
}

.mailLogo {
  position: absolute;
  bottom: 20%;
  margin-left: 400px;
  cursor: pointer;
  color: black;
}

.instagramLogo {
  position: absolute;
  bottom: 20%;
  margin-right: 400px;
  cursor: pointer;
  color: black;
}

.linkedInLogo {
  position: absolute;
  bottom: 10%;
  cursor: pointer;
  color: black;
}


.WorkMain {
  background: yellow;
  height: 100vh;
}

.workHead {
  color: black;
}

.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingText {
  color: black;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

.mainTitle {
  color: white;
}

/* FOOTER */

.mainFooter {
  color: white;
  background: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 60px;
}

.footerItems {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  column-gap: 100px;
  margin-right: 100px;
  height: 100%;
  list-style: none;
  font-size: 20px;
}

.personImg {
  height: 800px;
  position: absolute;
  bottom: -21%;
  left: 5%;
  margin-bottom: 60px;
  margin-right: 20px;
  z-index: 0;
  transform: rotate(90deg);
}

.middleNameDiv {
  color: yellow;
  height: 7vh;
  position: absolute;
  width: 10%;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300px;
  background: black;
}

.mainAlign {
  height: 86.5vh;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  text-align: center;
}

.innerText {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.showName {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  position: absolute;
  width: 20%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 200px);
  background: black;
  border-right: 1px solid black;
  cursor: default;
  z-index: 1;
}
.smallName {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  position: absolute;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 10vw, 50px);
  background: black;
  border-right: 1px solid black;
  cursor: default;
  z-index: 1;
}

.showNameWork {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  position: absolute;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 140px);
  background: black;
  border-right: 1px solid black;
  cursor: default;
  z-index: 1;
}

.showNameAbout {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  position: absolute;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 140px);
  background: black;
  border-right: 1px solid black;
  cursor: default;
  z-index: 1;
}

.showNameContact {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100vh;
  position: absolute;
  width: 20%;
  display: flex;
  letter-spacing: -10px;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 100px);
  background: black;
  border-right: 1px solid black;
  cursor: default;
  z-index: 1;
}
.showNameLastWork {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  height: 20%;
  position: absolute;
  width: 80%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 140px);
  letter-spacing: 20px;
  background: black;
  z-index: 1;
  cursor: default;
}
.showNameLast {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  height: 20%;
  position: absolute;
  width: min(80%, 100vw);
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 10vw, 200px);
  letter-spacing: 50px;
  background: black;
  z-index: 1;
  cursor: default;
}

@media screen and (max-width: 800px) {
  .showNameLast,
  .showName,
  .regNav,
  .showNameAbout,
  .showNameContact,
  .showNameLastWork,
  .showNameWork {
    visibility: hidden;
  }
  .smallNav {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 800px) {
  .hamMenu {
    visibility: hidden;
  }
}

.mobileLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  color: yellow;
  z-index: 1;
  background: black;
  padding-top: 80px;
}
.mobileLinkBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 70%;
  top: 0%;
}

.hamMenu {
  background: yellow;
  color: black;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 1%;
  z-index: 1;
  width: 100px;
}
.hamMenuClose {
  background: black;
  color: yellow;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 1%;
  z-index: 1;
}

.links {
  text-decoration: none;
}

.indLink {
  background: black;
  color: yellow;
  font-family: "Montserrat", sans-serif;
  padding: 20px 40px;
  font-weight: 700;
}

.mainDesc {
  position: absolute;
  right: 6%;
  margin-top: 150px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 5vw, 100px);
}

.mainDesc1 {
  position: absolute;
  right: 6%;
  margin-top: 290px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 5vw, 100px);
}

.mainDesc2 {
  position: absolute;
  right: 6%;
  margin-top: 420px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 5vw, 100px);
}

.mainDesc3 {
  position: absolute;
  right: 6%;
  margin-top: 550px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 5vw, 100px);
}

.mobileNav {
  display: none;
}
